@charset "UTF-8";
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Light.eot");
  src: local("0"), url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.eot");
  src: local("Geometria"), url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.eot");
  src: local("fonts/Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraBold.eot");
  src: local("Geometria ExtraBold"), local("Geometria-ExtraBold"), url("../fonts/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Heavy.eot");
  src: local("Geometria Heavy"), local("Geometria-Heavy"), url("../fonts/Geometria-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* Обнуляющий стиль */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================== */
body {
  font-family: "Geometria", sans-serif;
  background: #fff;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.none {
  display: none !important;
}

[class*=__container] {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0px 10px;
}

.title {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}

.subtitle {
  font-size: 35px;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
}

.header {
  background: url("../img/header-bg.jpg") center/cover no-repeat;
  min-height: 100vh;
  padding: 30px 0 70px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 130px;
}
.header__title {
  max-width: 586px;
  margin-bottom: 47px;
}

.top-header__info {
  -ms-flex-preferred-size: 366px;
      flex-basis: 366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-header__info-text {
  -ms-flex-preferred-size: 195px;
      flex-basis: 195px;
}
.top-header__phone-text {
  font-size: 30px;
  margin-bottom: 20px;
}
.top-header__phone-btn {
  font-family: "Geometria";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  background-color: transparent;
  padding: 17px 23px;
  border: 1px solid #2a94e2;
  border-radius: 5px;
  min-width: 100%;
  cursor: pointer;
}

.content-header {
  padding-top: 12px;
}
.content-header__text {
  font-size: 22px;
  max-width: 540px;
  margin-bottom: 49px;
}
.content-header__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.content-header__count-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.content-header__count-item span {
  font-size: 80px;
  font-weight: 300;
}
.content-header__appeal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  max-width: 464px;
  margin-bottom: 43px;
}
.content-header__appeal span {
  font-weight: 700;
}
.content-header__bnt {
  display: block;
  text-align: center;
  max-width: 360px;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  padding: 22px 30px;
  background-color: #2a94e2;
  border-radius: 5px;
}

.preview {
  padding-top: 60px;
}
.preview__title {
  margin-bottom: 30px;
}
.preview__text {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 42px;
  text-align: center;
}
.preview__inner {
  border: 3px solid #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
  padding: 40px 40px 20px;
}
.content-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-preview__title {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 30px;
}
.content-preview__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding-bottom: 26px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f1f1f1;
}
.content-preview__img {
  margin-bottom: 25px;
}
.content-preview__text {
  font-weight: 700;
  text-align: center;
  opacity: 0.5;
}
.content-preview__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-preview__footer-link {
  color: #2a94e2;
  position: relative;
  padding-right: 37px;
}
.content-preview__footer-link::after {
  content: "";
  position: absolute;
  background-image: url(../img/preview-footer-link.svg);
  width: 22px;
  height: 16px;
  top: 4px;
  right: 0;
}

.list-preview__item {
  max-width: 282px;
  padding-left: 64px;
  position: relative;
}
.list-preview__item::before {
  content: "";
  position: absolute;
  background-image: url(../img/list-preview-img.svg);
  width: 40px;
  height: 35px;
  top: 5px;
  left: 0;
}
.list-preview__item:not(:last-child) {
  margin-bottom: 30px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
.features__title {
  margin-bottom: 30px;
}
.features__inner {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
}
.features__item {
  color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.item-features {
  position: relative;
}
.item-features::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(26.23%, rgba(83, 88, 96, 0)), color-stop(52.73%, rgba(37, 44, 56, 0.56)), to(#252c38));
  background-image: -o-linear-gradient(top, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.56) 52.73%, #252c38 100%);
  background-image: linear-gradient(180deg, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.56) 52.73%, #252c38 100%);
}
.item-features::after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.item-features:hover .item-features__content {
  bottom: 30px;
}
.item-features:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #535860;
  opacity: 0.6;
}
.item-features__content {
  position: absolute;
  bottom: -23%;
  -webkit-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.item-features__title {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 23px;
  position: relative;
  z-index: 1;
}
.item-features__text {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.item-features__link {
  display: block;
  text-align: center;
  max-width: 333px;
  font-size: 12px;
  line-height: 1.2;
  padding: 22px 30px;
  background-color: rgb(42, 148, 226);
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.item-features_1 {
  grid-row: span 2;
  background: url("../img/item-features-bg1.jpg") center/cover no-repeat;
}

.item-features_2 {
  background: url("../img/item-features-bg2.jpg") center/cover no-repeat;
}
.item-features_2 .item-features__content {
  bottom: -40%;
}

.item-features_3 {
  background: url("../img/item-features-bg3.jpg") center/cover no-repeat;
}
.item-features_3 .item-features__content {
  bottom: -40%;
}

.item-features_4 {
  background: url("../img/item-features-bg4.jpg") center/cover no-repeat;
  grid-column: span 2;
}
.item-features_4 .item-features__content {
  bottom: -33%;
}

.item-features_5 {
  background: url("../img/item-features-bg5.jpg") center/cover no-repeat;
  grid-column: span 2;
}
.item-features_5 .item-features__content {
  bottom: -40%;
}

.item-features_6 {
  background: url("../img/item-features-bg6.jpg") center/cover no-repeat;
}
.item-features_6 .item-features__content {
  bottom: -40%;
}

.select {
  padding-bottom: 74px;
}
.select__title {
  margin-bottom: 30px;
}
.select__text {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 60px;
  text-align: center;
}
.select__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.select__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.list-select__item {
  -ms-flex-preferred-size: 228px;
      flex-basis: 228px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5px 13px;
  border-top: 2px solid #f6f6f6;
  border-bottom: 2px solid #f6f6f6;
  border-right: 2px solid #f6f6f6;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}
.list-select__item:first-child {
  border-left: 2px solid #f6f6f6;
}
.list-select__item:hover {
  background-color: #f6f6f6;
}
.list-select__item.active {
  color: #fff;
  background-color: #2a94e2;
}

.cards-select__link {
  cursor: pointer;
}
.cards-select__item {
  max-width: 555px;
  border: 1px solid #f6f6f6;
}
.cards-select__item:hover {
  -webkit-box-shadow: 0px 0px 18px rgba(233, 80, 79, 0.25);
          box-shadow: 0px 0px 18px rgba(233, 80, 79, 0.25);
}
.cards-select__item:hover .cards-select__item-title {
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #2a94e2;
}
.cards-select__item-img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}
.cards-select__item-body {
  padding: 0 30px 15px;
}
.cards-select__item-title {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.6;
  margin-bottom: 15px;
}
.cards-select__item-lot {
  display: block;
  margin-bottom: 35px;
}
.cards-select__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.cards-select__item-price {
  font-size: 33px;
  margin-bottom: 30px;
}
.cards-select__item-area {
  margin-top: 10px;
}
.cards-select__item-square {
  margin-bottom: 45px;
}
.cards-select__item-btn {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #000;
  padding: 19px 177px 14px;
  font-size: 18px;
  line-height: 1.2;
  background-color: #f6f6f6;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.cards-select__item-btn:hover {
  color: #fff;
  background-color: #2a94e2;
}

.select__show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  min-height: 60px;
  background-color: #f6f6f6;
  padding: 19px 0 14px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.select__show-more:hover {
  color: #fff;
  background-color: #2a94e2;
}
.select__show-more::after {
  content: "";
  position: absolute;
  background-image: url(../img/select-arrow.svg);
  width: 13px;
  height: 8px;
  top: 50%;
  right: 44%;
}

.estate {
  background-color: #f6f6f6;
  padding: 65px 0;
}
.estate__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.estate__content {
  width: 50%;
}
.estate__title {
  margin-bottom: 30px;
  padding-top: 36px;
  text-align: left;
}
.estate__text {
  margin-bottom: 20px;
}
.estate__link {
  display: block;
  text-align: center;
  max-width: 270px;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  padding: 17px 22px;
  background-color: rgb(42, 148, 226);
  border-radius: 5px;
}
.estate__slider {
  width: 50%;
  min-width: 0;
}

.slider-big {
  margin-bottom: 10px;
}

.slider-thumb .slick-slide.slick-active {
  cursor: pointer;
}
.slider-thumb .slick-slide.slick-active:not(:last-child) {
  margin-right: 3px;
}
.slider-thumb .slick-slide.slick-active img:hover {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.trend {
  padding: 60px 0 50px;
  text-align: center;
}
.trend__title {
  margin-bottom: 30px;
}
.trend__cards {
  margin-bottom: 60px;
}
.trend__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.trend__link {
  font-size: 22px;
  line-height: 1.6;
  color: #2A94E2;
  max-width: 360px;
  text-align: left;
  text-decoration: underline;
}

.cards-trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.cards-trend__item {
  padding: 35px 50px 15px;
  border: 1px solid #2a94e2;
  border-radius: 10px;
  min-width: 555px;
  position: relative;
}
.cards-trend__item::before {
  content: "";
  background-image: url(../img/trend-item-decor.svg);
  width: 16px;
  height: 268px;
  position: absolute;
  top: 11px;
  left: 0;
}
.cards-trend__item-title {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 40px;
  max-width: 450px;
  text-align: left;
}
.cards-trend__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cards-trend__item-content {
  margin-top: 20px;
}
.content-item {
  text-align: left;
  margin-right: 90px;
}
.content-item__position {
  font-size: 12px;
  line-height: 1.6;
  opacity: 0.5;
}
.content-item__name {
  line-height: 1.6;
  margin-bottom: 20px;
}
.content-item__phone {
  font-size: 25px;
  line-height: 1.6;
}
.content-item__mail {
  line-height: 1.6;
  border-bottom: 1px solid #000;
}