// Подключение шрифтов
@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria-Light.eot");
	src: local("0"), url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria.eot");
	src: local("Geometria"), url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria-Medium.eot");
	src: local("fonts/Geometria Medium"), local("Geometria-Medium"),
		url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria-Bold.eot");
	src: local("Geometria Bold"), local("Geometria-Bold"),
		url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria-ExtraBold.eot");
	src: local("Geometria ExtraBold"), local("Geometria-ExtraBold"),
		url("../fonts/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria-Heavy.eot");
	src: local("Geometria Heavy"), local("Geometria-Heavy"),
		url("../fonts/Geometria-Heavy.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

// Файл обнуляющих стилей
@import "_null";

// Основные CSS настройки страницы
body {
	font-family: "Geometria", sans-serif;
	background: #fff;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.none {
	display: none !important;
}
[class*="__container"] {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0px 10px;
}

// title
.title {
	font-size: 50px;
	font-weight: 900;
	line-height: 1.2;
	text-transform: uppercase;
}

// subtitle
.subtitle {
	font-size: 35px;
	font-weight: 800;
	line-height: 1.1;
	text-align: center;
}

// filter
.filter {
}

// header
.header {
	background: url("../img/header-bg.jpg") center / cover no-repeat;
	min-height: 100vh;
	padding: 30px 0 70px;

	// .header__container

	&__container {
	}

	// .header__top

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 130px;
	}

	// .header__content

	&__content {
	}

	// .header__title

	&__title {
		max-width: 586px;
		margin-bottom: 47px;
	}
}
.top-header {
	// .top-header__menu

	&__menu {
		// margin-right: 281px;
	}

	// .top-header__info

	&__info {
		flex-basis: 366px;
		display: flex;
		column-gap: 30px;
		// justify-content: space-between;
		align-items: center;
	}

	// .top-header__info-text

	&__info-text {
		flex-basis: 195px;
	}

	// .top-header__phone

	&__phone {
	}

	// .top-header__phone-text

	&__phone-text {
		font-size: 30px;
		margin-bottom: 20px;
	}

	// .top-header__phone-btn

	&__phone-btn {
		font-family: "Geometria";
		font-size: 16px;
		font-weight: 500;
		line-height: 1.2;
		background-color: transparent;
		padding: 17px 23px;
		border: 1px solid #2a94e2;
		border-radius: 5px;
		min-width: 100%;
		cursor: pointer;
	}
}
.content-header {
	padding-top: 12px;
	// .content-header__text

	&__text {
		font-size: 22px;
		max-width: 540px;
		margin-bottom: 49px;
	}

	// .content-header__count

	&__count {
		display: flex;
		column-gap: 50px;
	}

	// .content-header__count-item

	&__count-item {
		display: flex;
		align-items: center;
		column-gap: 20px;
		span {
			font-size: 80px;
			font-weight: 300;
		}
	}

	// .content-header__appeal

	&__appeal {
		display: flex;
		align-items: center;
		column-gap: 20px;
		max-width: 464px;
		margin-bottom: 43px;
		span {
			font-weight: 700;
		}
	}

	// .content-header__bnt

	&__bnt {
		display: block;
		text-align: center;
		max-width: 360px;
		font-size: 20px;
		line-height: 1.2;
		color: #fff;
		padding: 22px 30px;
		background-color: #2a94e2;
		border-radius: 5px;
	}
}
.menu {
	// .menu__burger

	&__burger {
	}
	// .menu__btn
	&__btn {
	}
	// . menu__img

	&__img {
	}
}
.logo {
	// .logo__img

	&__img {
	}
}

// preview
.preview {
	padding-top: 60px;

	// .preview__container

	&__container {
	}

	// .preview__title

	&__title {
		margin-bottom: 30px;
	}

	// .preview__text

	&__text {
		font-size: 22px;
		line-height: 1.6;
		margin-bottom: 42px;
		text-align: center;
	}

	// .preview__inner

	&__inner {
		border: 3px solid #f6f6f6;
		display: flex;
		column-gap: 75px;
		padding: 40px 40px 20px;
	}

	// .preview__content

	&__content {
	}

	// .preview__list

	&__list {
	}
}

.content-preview {
	display: flex;
	flex-direction: column;

	// .content-preview__title

	&__title {
		font-size: 22px;
		font-weight: 800;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	// .content-preview__items

	&__items {
		display: flex;
		column-gap: 30px;
		padding-bottom: 26px;
		margin-bottom: 30px;
		border-bottom: 2px solid #f1f1f1;
	}

	// .content-preview__item

	&__item {
	}

	// .content-preview__link

	&__link {
	}

	// .content-preview__img

	&__img {
		margin-bottom: 25px;
	}

	// .content-preview__text

	&__text {
		font-weight: 700;
		text-align: center;
		opacity: 0.5;
	}

	// .content-preview__footer

	&__footer {
		display: flex;
		justify-content: space-between;
	}

	// .content-preview__footer-text

	&__footer-text {
	}

	// .content-preview__footer-link

	&__footer-link {
		color: #2a94e2;
		position: relative;
		padding-right: 37px;
		&::after {
			content: "";
			position: absolute;
			background-image: url(../img/preview-footer-link.svg);
			width: 22px;
			height: 16px;
			top: 4px;
			right: 0;
		}
	}
}
.preview-content {
	// .preview-content__text

	&__text {
	}
}
.list-preview {
	// .list-preview__item

	&__item {
		max-width: 282px;
		padding-left: 64px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			background-image: url(../img/list-preview-img.svg);
			width: 40px;
			height: 35px;
			top: 5px;
			left: 0;
		}
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}

// features
.features {
	padding-top: 60px;
	padding-bottom: 60px;

	// .features__container

	&__container {
	}

	// .features__title

	&__title {
		margin-bottom: 30px;
	}

	// .features__inner

	&__inner {
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 300px);
	}

	// .features__item

	&__item {
		color: #fff;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow: hidden;
	}
}
.title {
}
.item-features {
	position: relative;
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: transparent;
		background-image: linear-gradient(180deg, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.56) 52.73%, #252c38 100%);
	}
	&::after {
		content: "";
		opacity: 0;
		transition: opacity 1s ease;
	}
	&:hover {
		.item-features__content {
			bottom: 30px;
		}
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: #535860;
			opacity: 0.6;
		}
	}

	// .item-features__content

	&__content {
		position: absolute;
		bottom: -23%;
		transition: all 1.2s ease;
	}

	// .item-features__title

	&__title {
		font-size: 22px;
		font-weight: 800;
		line-height: 1.2;
		margin-bottom: 23px;
		position: relative;
		z-index: 1;
	}

	// .item-features__text

	&__text {
		margin-bottom: 20px;
		position: relative;
		z-index: 1;
	}

	// .item-features__link

	&__link {
		display: block;
		text-align: center;
		max-width: 333px;
		font-size: 12px;
		line-height: 1.2;
		padding: 22px 30px;
		background-color: rgb(42, 148, 226);
		border-radius: 5px;
		position: relative;
		z-index: 1;
	}
}
.item-features_1 {
	grid-row: span 2;
	background: url("../img/item-features-bg1.jpg") center / cover no-repeat;
}
.item-features_2 {
	background: url("../img/item-features-bg2.jpg") center / cover no-repeat;
	.item-features__content {
		bottom: -40%;
	}
}
.item-features_3 {
	background: url("../img/item-features-bg3.jpg") center / cover no-repeat;
	.item-features__content {
		bottom: -40%;
	}
}
.item-features_4 {
	background: url("../img/item-features-bg4.jpg") center / cover no-repeat;
	grid-column: span 2;
	.item-features__content {
		bottom: -33%;
	}
}
.item-features_5 {
	background: url("../img/item-features-bg5.jpg") center / cover no-repeat;
	grid-column: span 2;
	.item-features__content {
		bottom: -40%;
	}
}
.item-features_6 {
	background: url("../img/item-features-bg6.jpg") center / cover no-repeat;
	.item-features__content {
		bottom: -40%;
	}
}

// select
.select {
	padding-bottom: 74px;

	// .select__container

	&__container {
	}

	// .select__title

	&__title {
		margin-bottom: 30px;
	}

	// .select__text

	&__text {
		font-size: 22px;
		line-height: 1.6;
		margin-bottom: 60px;
		text-align: center;
	}

	// .select__list

	&__list {
		display: flex;
		margin-bottom: 30px;
	}

	// .select__cards

	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 40px;
	}
}
.title {
}
.list-select {
	// .list-select__item

	&__item {
		flex-basis: 228px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 5px 13px;
		border-top: 2px solid #f6f6f6;
		border-bottom: 2px solid #f6f6f6;
		border-right: 2px solid #f6f6f6;
		transition: all 1s ease;
		cursor: pointer;
		&:first-child {
			border-left: 2px solid #f6f6f6;
		}
		&:hover {
			background-color: #f6f6f6;
		}
		&.active {
			color: #fff;
			background-color: #2a94e2;
		}
	}
}

.cards-select {
	// .cards-select__link
	&__link {
		cursor: pointer;
	}

	// .cards-select__item

	&__item {
		max-width: 555px;
		border: 1px solid #f6f6f6;
		&:hover {
			box-shadow: 0px 0px 18px rgba(233, 80, 79, 0.25);
			.cards-select__item-title {
				transition: color 0.5s ease;
				color: #2a94e2;
			}
		}
	}

	// .cards-select__item-img

	&__item-img {
		object-fit: cover;
		margin-bottom: 30px;
	}

	// .cards-select__item-body
	&__item-body {
		padding: 0 30px 15px;
	}

	// .cards-select__item-title

	&__item-title {
		font-size: 22px;
		font-weight: 800;
		line-height: 1.6;
		margin-bottom: 15px;
	}

	// .cards-select__item-lot

	&__item-lot {
		display: block;
		margin-bottom: 35px;
	}

	// .cards-select__item-box

	&__item-box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	// .cards-select__item-value

	&__item-value {
	}

	// .cards-select__item-price

	&__item-price {
		font-size: 33px;
		margin-bottom: 30px;
	}

	// .cards-select__item-rate

	&__item-rate {
	}

	// .cards-select__item-area

	&__item-area {
		// padding-top: 10px;
		margin-top: 10px;
	}

	// .cards-select__item-square

	&__item-square {
		margin-bottom: 45px;
	}

	// .cards-select__item-floor

	&__item-floor {
	}

	// .cards-select__item-btn

	&__item-btn {
		min-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		color: #000;
		padding: 19px 177px 14px;
		font-size: 18px;
		line-height: 1.2;
		background-color: #f6f6f6;
		transition: all 0.5s ease;
		&:hover {
			color: #fff;
			background-color: #2a94e2;
		}
	}
}

// .select__show-more
.select__show-more {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	min-height: 60px;
	background-color: #f6f6f6;
	padding: 19px 0 14px;
	cursor: pointer;
	position: relative;
	transition: all 0.5s ease;
	&:hover {
		color: #fff;
		background-color: #2a94e2;
	}
	&::after {
		content: "";
		position: absolute;
		background-image: url(../img/select-arrow.svg);
		width: 13px;
		height: 8px;
		top: 50%;
		right: 44%;
	}
}

// estate
.estate {
	background-color: #f6f6f6;
	padding: 65px 0;

	// .estate__container

	&__container {
	}

	// .estate__inner

	&__inner {
		display: flex;
		column-gap: 30px;
		align-items: center;
	}

	// .estate__content

	&__content {
		width: 50%;
	}

	// .estate__title

	&__title {
		margin-bottom: 30px;
		padding-top: 36px;
		text-align: left;
	}

	// .estate__text

	&__text {
		margin-bottom: 20px;
	}

	// .estate__link

	&__link {
		display: block;
		text-align: center;
		max-width: 270px;
		font-size: 20px;
		line-height: 1.2;
		color: #fff;
		padding: 17px 22px;
		background-color: rgb(42, 148, 226);
		border-radius: 5px;
	}

	// .estate__slider

	&__slider {
		width: 50%;
		min-width: 0;
	}
}

.slider-big {
	margin-bottom: 10px;
}
.slider-thumb {
}

.slider-thumb .slick-slide.slick-active {
	cursor: pointer;
	// margin-right: 0;
	&:not(:last-child) {
		margin-right: 3px;
	}
	img {
		&:hover {
			transform: matrix(-1, 0, 0, 1, 0, 0);
		}
	}
}

// slick-slider
// /* Слайдер */
// .slick-slider{}
// /* Слайдер запущен */
// .slick-slider.slick-initialized{}
// /* Слайдер с точками */
// .slick-slider.slick-dotted{}
// /* Ограничивающая оболочка */
// .slick-list {
// 	overflow: hidden;
// }
// /* Лента слайдов */
// .slick-track{
// 	display: flex;
// }
// /* Слайд */
// .slick-slide{}
// /* Слайд активный (показывается) */
// .slick-slide.slick-active{}
// /* Слайд основной */
// .slick-slide.slick-current{}
// /* Слайд по центру */
// .slick-slide.slick-center{}
// /* Клонированный слайд */
// .slick-slide.slick-cloned{}
// /* Стрелка */
// .slick-arrow{}
// /* Стрелка влево */
// .slick-arrow.slick-prev{}
// /* Стрелка вправо */
// .slick-arrow.slick-next{}
// /* Стрелка не активная */
// .slick-arrow.slick-disabled{}
// /* Точки (булиты) */
// .slick-dots{}
// .slick-dots li{}
// /* Активная точка */
// .slick-dots li.slick-active{}
// /* Элемент точки */
// .slick-dots li button{}

// trend
.trend {
	padding: 60px 0 50px;
	text-align: center;

	// .trend__container

	&__container {
	}

	// .trend__title

	&__title {
		margin-bottom: 30px;
	}

	// .trend__cards

	&__cards {
		margin-bottom: 60px;
	}

	// .trend__links

	&__links {
		display: flex;
		column-gap: 30px;
	}

	// .trend__link

	&__link {
		font-size: 22px;
		line-height: 1.6;
		color: #2A94E2;
		max-width: 360px;
		text-align: left;
		text-decoration: underline;
	}
}
.subtitle {
}
.cards-trend {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	// .cards-trend__item

	&__item {
		padding: 35px 50px 15px;
		border: 1px solid #2a94e2;
		border-radius: 10px;
		min-width: 555px;
		position: relative;
		&::before {
			content: "";
			background-image: url(../img/trend-item-decor.svg);
			width: 16px;
			height: 268px;
			position: absolute;
			top: 11px;
			left: 0;
		}
	}

	// .cards-trend__item-title

	&__item-title {
		font-size: 22px;
		font-weight: 800;
		line-height: 1.2;
		margin-bottom: 40px;
		max-width: 450px;
		text-align: left;
	}

	// .cards-trend__item-body

	&__item-body {
		display: flex;
	}

	// .cards-trend__item-content

	&__item-content {
		margin-top: 20px;
	}

	// .cards-trend__item-img

	&__item-img {
	}
}
.content-item {
	text-align: left;
	margin-right: 90px;

	// .content-item__position

	&__position {
		font-size: 12px;
		line-height: 1.6;
		opacity: 0.5;
	}

	// .content-item__name

	&__name {
		line-height: 1.6;
		margin-bottom: 20px;
	}

	// .content-item__phone

	&__phone {
		font-size: 25px;
		line-height: 1.6;
	}

	// .content-item__mail

	&__mail {
		line-height: 1.6;
		border-bottom: 1px solid #000;
	}
}
.img-item {
}
